<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<!-- HTML -->
	<!-- font family -->
	<!-- JetBrains Mono -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
	<!-- Nunito font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<!-- Custom Styles -->
	<!-- post css -->
	<link rel="stylesheet" href="./css/mainHeader.css" type="text/css" media="all" />
	<link rel="stylesheet" href="./css/post/header.css" type="text/css" media="all" />
	<link rel="stylesheet" href="./css/post/sideCollection.css" type="text/css" media="all" />
	<link rel="stylesheet" href="./css/post/postHeader.css" type="text/css" media="all" />
	<link rel="stylesheet" href="./css/post/postInput.css" type="text/css" media="all" />
	<link rel="stylesheet" href="./css/post/response.css" type="text/css" media="all" />
	<!-- home css -->
	<link rel="stylesheet" href="./css/home/home.css" type="text/css" media="all" />
	<!-- signup css -->
	<link rel="stylesheet" href="./css/signup/signup.css">
	<!-- login css -->
	<link rel="stylesheet" href="./css/login/login.css">
	
	<!-- saute alert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
	<!-- header area -->
	<section class="header">
		<div class="container">