<%- include('./partials/header.ejs'); %>
			<div class="main_login">
				<div class="bg">
					<h1><span>Dev</span>post</h1>
					<div class="login_title">
						<h1>Sign in</h1>
						<a href="/signup">Create account</a>
					</div>
					<form action="">
						<p>Email</p>
						<input type="email" name="email" id="email" value="" />
						<p>Password</p>
						<input type="password" name="password" id="password" value="" />
						<div class="check">
							<input type="checkbox" name="checkbox" id="checkbox" />
							<span>Keep me sign in</span>
						</div>
						<input type="button" name="button" id="btn" value="Sign in" />
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Project -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="./js/login.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>